<!-- header-start -->
<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-5 col-lg-5">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a class="{% if this.page.id == 'home' %} active {% endif %}" 
                                        href="{{ 'home'|page }}">home</a></li>
                                    <li><a class="{% if this.page.id == 'burgers' %} active {% endif %}" 
                                        href="{{ 'burgers'|page }}">Menu</a></li>
                                    <li><a class="{% if this.page.id == 'about' %} active {% endif %}" 
                                        href="{{ 'about'|page }}">About</a></li>
                                    <li><a href="#">blog <i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="{{ 'blog'|page }}">blog</a></li>
                                            <li><a href="{{ 'single-blog'|page }}">single-blog</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="{% if this.page.id == 'contact' %} active {% endif %}" 
                                        href="{{ 'contact'|page }}">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img">
                            <a href="{{ 'home'|page }}">
                                <img src="{{ 'assets/img/logo.png'|theme }}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 d-none d-lg-block">
                        <div class="book_room">
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="https://www.instagram.com/burgerbarmda/?hl=es-la" target="_blank">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/bbjmexico?lang=es" target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://es-la.facebook.com/BurgerBarJointMexico/" target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="book_btn d-none d-xl-block">
                                <a class="#" href="#">+10 367 453 7382</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->