description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Burgers - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="OctoberCMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="OctoberCMS">
        <link rel="shortcut icon" type="image/x-icon" href="{{'assets/img/favicon.png'|theme}}">
        <!-- Links a estilos que traia el template - Inicio -->
        <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css'|theme }}"> 
        <link rel="stylesheet" href="{{ 'assets/css/animate.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/flaticon.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/font-awesome.min.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/jquery-ui.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/magnific-popup.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/nice-select.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/owl.carousel.min.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/slicknav.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/theme-default.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css'|theme }}"> 
        <link rel="stylesheet" href="{{ 'assets/css/themify-icons.css'|theme }}"> 
        <!-- Links a estilos que traia el template - Inicio -->
        <!-- Links a estilos que se convirtieron de sass a css -->         
        <link href="{{ 'assets/css/style.css'|theme }}" rel="stylesheet">
        {% styles %}
    </head>
    <body>

        <!-- Header -->
        {% partial "header" %}    

        <!-- Content -->
        <section id="layout-content">
            {% page %}
        </section>

        <!-- Footer -->
        {% partial "footer" %}

        <!-- Scripts -->
        <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
        <script src="{{ 'assets/js/main-dist.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}

    </body>
</html>
